.logoLoc{
    padding-left: 1rem !important;
}
.dashboardName > img{
    margin-right: 10px !important;
    width: 35px !important;
}
.dashboardName{
    font-size: 1.5em;
    padding:15px;
    /* margin: 0px auto; */
    width: 75%;
    display: flex;
    justify-content: center;
}
.dashboardName > i{
    font-size: 1.3em;
}
.dashboardName > div > a{
    color: #8C99A7;
}
.main_menu  > li > a::before{
    display:none !important;
}
.sub_menu_sub  > li > a::before{
    left: -10px !important;
}
.sub_menu_sub  > li > a{
    left: 40px !important;
}
.menu-link{
    padding-left: 1rem !important;
}
.menu-link > i{
    padding-right:10px !important;
}
 li.active a{
    font-weight:900;
     font-size:16px !important;
}
.active i{
    font-size:23px;
}
.app-brand-logo > img{
    width: 50px;
    height: auto;
}
.app-brand-text{
    text-transform: capitalize !important;
}
.formDesign{
    display: flex;
    flex-wrap: wrap;
}
.rateDocument{
    padding: 0px 10px !important;
    display:flex;
    justify-content: space-between;
    margin-bottom:0px;
}
.rateLabel{
    padding-bottom: 2px;
    padding-left: 10px;
}
.rateType{
    width:48%;
}
.rateValue{
    width:48%;
}
.warehouseName{
    padding: 0px 10px;
}
.warehouseLocation{
    padding: 0px 10px;
}
.warehouseType{
    padding: 0px 10px;
}
.clientName{
    padding: 0px 10px;
}
.clientLocation{
    padding: 0px 10px;
}
.clientPhone{
    padding: 0px 10px;
}
.route{
    padding: 0px 10px;
}
.nomenclatureImage{
    padding: 0px 10px;
}
.nomenclatureName{
    padding: 0px 10px;
}
.nomenclaturePrice{
    padding: 0px 10px;
}
.usersName{
    padding: 0px 10px;
}
.usersUsername{
    padding: 0px 10px;
}
.usersRole{
     padding: 0px 10px;
 }
.loguser{
    padding: 0px 10px;
}
.logAction{
    padding: 0px 10px;
}
.logDate{
     padding: 0px 10px;
 }
.usersPassword{
    padding: 0px 10px;
}
.table > thead > tr > th{
    text-align: center ;
}
.table > tbody > tr > td{
    text-align: center ;
}

.card{
    padding: 20px;
}
.ordersName{
    padding: 0px 10px;
}
.ordersTotalPrice{
    padding: 0px 10px;
}
.ordersTotalCount{
    padding: 0px 10px;
}
.productsWarehouse{
    padding: 0px 10px;
}
.productsNomenclature{
    padding: 0px 10px;
}
.productsCount{
    padding: 0px 10px;
}
.productsPrice{
    padding: 0px 10px;
}
.only-active{
    display:none;
}
.default-panel{
    border-radius:20px;
    border:1px solid #cfcfcf;
    padding:20px;
    position:relative;
    margin:20px;
}
.panel-title{
    position:absolute;
    top:-20px;
    left:40px;
    font-size:22px;
    display:flex;
    background:#fff;
}
.create-block{
    margin-left:15px;
}
.non-active{
    border:0px;
    pointer-events: none;
}
.el-active{
    border:1px solid #cfcfcf;
    pointer-events: inherit;
}
.actions button{
    background:none;
    border:0px;

}
.new-panel,.default-panel{
    position:relative;
    margin-top:40px;
    min-height:200px;
}
.dropdown-list{
    padding:15px;
    list-style-type:none;
    min-width:100px;
    max-width:300px;
    min-height:auto;
    border:1px solid #cfcfcf;
    border-radius:20px;
    font-size:1.1em;
    display:none;
    position:absolute;
    background: white;
    z-index: 1;

}

.custom_field_menu{
    padding:5px;
    width: 320px;
}
.custom_field_menu li{
    padding:5px;
    padding-bottom:15px;
    cursor:pointer;
    text-align:center;
    margin-bottom:5px;
    border-bottom:1px solid #ccc;
}
.add_list_item{
    cursor:pointer !important;
    font-size:22px !important;
}
.remove-field{
    position:absolute;
    right:5px;
    top: calc(50% - 25px);
}
.remove-field-new{
    position:absolute;
    right:5px;
    top: calc(60% - 25px);
}
.new-field{
    border:1px solid #ccc;
    border-radius:5px;
    position:relative;
    padding:10px;
    padding-right:50px;
    margin:20px 10px;
}

.bx-trash{
    padding: 10px 5px 0px 0px;
    font-size: 25px;
    cursor:pointer;
}
.new-field input,.new-field select,.new-field textarea{
    width:100%;
    border:1px solid #ccc;
    padding:5px;
    border-radius:3px;
    margin-bottom:10px;
}
.dropdown-menu li span{
    font-size:14px;
}
.active-dropdown{
    display: block;
}
.createable-panel,.edite-block-title-save,.edite-block-title-save-new-field{
    display:none;
}
.edite-block-trash-new > i{
    font-size:18px;
}
.edite-block-trash > i{
    font-size:18px;
}
.premission{
    padding:0px 10px;
}
.premission-content{
    display:flex;
    flex-direction: column;
}
.rows-checkbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.premission-content-items{
    margin: 0px 10px 10px;
}
.right-btn{
    color:grey;
    font-size:25px;
}
.addOrders{
    margin-top:35px;
}
.addDocuments{
    margin-top:35px;
}
.mapFilter{
    display:flex;
    flex-wrap:wrap;
}
@media screen and (max-width: 424px) {
    .loguser, .logAction{
        width:80%;
    }
}
@media screen and (min-width: 425px) and (max-width: 454px) {
    .loguser, .logAction{
        width:50%;
    }
}
@media screen and (max-width: 315px) {
    .rateDocument{
        display:flex;
        flex-wrap:wrap;
    }
    .rateType, .rateValue{
        width:100%;
    }
}
.select2-selection{
    width:100% !important;
}
/*.groupName > .select2-container{*/
/*    max-width: 1246px;*/
/*}*/
/*.groupName{*/
/*    margin-left:10px;*/
/*}*/
.selGroup{
    display:flex;
    flex-direction:column;
}
.clientSelect,.productSelect{
    display:flex !important;
    flex-direction:column !important;
    max-width: 100% !important;
}
.scrollMenu{
    height: 150vh !important;
    overflow-y: auto !important;
}
.userIcons {
    font-size: 23px;
}
.avatar {
    width: 1.75rem;
    height: 1.375rem;
}
.countDocuments{
    min-width: 100px;
}
.PriceDocuments{
    min-width: 100px;
}
.countProduct{
    min-width: 100px;
}
.countProductForUpdate{
    min-width: 100px;
}
.searchicon{
    border: none !important;
    background-color: white !important;
}
.inputstyle{
    border: none !important;
}
.inputstyle {
    outline: none !important;
}
.imageNom > img{
    width:40px;
    height:40px;
}
/*notifications*/
.notifications-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}
.bell-icon {
    cursor: pointer;
    font-size: 20px;
}
#notifications-dropdown {
    display: none;
    position: absolute;
    /*bottom: -120px;*/
    right: -37px;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    max-height: 277px;
}
.notification-item {
    margin-bottom: 10px;
}
#notification-dropdown .notification {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.bs-toast {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
    max-width: 300px;
    overflow: hidden;
    transform: translate(-15px, -15px); /* Adjust as needed */
}
.notificationIcon{
    margin-top: 5px;
    margin-right: -40px;
    vertical-align: top;
    font-size: 1.6rem;
}
.notification-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 25px;
    border-bottom: 1px solid #ddd;
}
.lh-1 {
    line-height: 1.3 !important;
}
.notification-title {
    background-color: #8592a3;
    color: #fff;
    font-weight: 300;
    padding: 10px;
}
.title-text {
    font-weight: bold;
}
.notification-ui_dd .notification-ui_dd-header {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.notification-ui_dd .notification-ui_dd-header h3 {
    margin-bottom: 0;
}

.ordersCountInput{
    min-width:80px;
}
.documentsCountInput{
    min-width:80px;
}
.downloadXLSX{
    cursor: pointer;
    height: 40px;
}
.downloadUpdateXLSX{
    cursor: pointer;
}
.orders-update h5{
    display: inline-block;
}

.discountCheck{
    display:flex !important;
}
.field-discount-discount_check{
    display:flex !important;
    flex-direction: column !important;
}
.discountBtn{
    display: flex !important;
    flex-wrap: wrap !important;
}
.btnHref{
    margin-left:10px !important;
}
.price-range-block{
    margin: 10px 0px !important;
}
.sub_menu_sub > li{
    /*left:25px !important;*/
}
.titleAndPrevPage{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.filterAndPrevPage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.titleAndPrev{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.iconPrevPage{
    margin-right:10px;
    font-size:1.5em;
}
.iconPrev{
    padding: 10px 0px;
    margin-right:10px;
    font-size:1.5em;
}
.iconPrevPage:hover{
    cursor:pointer;
}
.iconPrev:hover{
    cursor:pointer;
}
.titleAndConfig{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.byDate{
    max-width:8%;
}
.customBtn{
    padding-left: 0px;
    padding-right: 10px;
}
.customUl > li{
    margin: 10px;
}
.customIcon{
    font-size: 25px;
}
.customIcon:hover{
    cursor:pointer;
}
.iconBtn{
    text-align: center;
}
.customBtnIcon{
    border:none;
    background:none;
}
.loader{
    text-align:center;
}
.loader > img{
    width:150px !important;
    height:150px !important;
}
.help-block{
    color: #ff3333!important;
}
#orders-total_price_before_discount{
    border:none !important;
}
#orders-total_price{
    border:none !important;
}
#orders-total_discount{
    border:none !important;
}
#orders-total_count{
    border:none !important;
}
.field-orders-total_price_before_discount > .help-block{
    display:none !important;
}
.field-orders-total_price > .help-block{
    display:none !important;
}
.field-orders-total_discount > .help-block{
    display:none !important;
}
.field-orders-total_count > .help-block{
    display:none !important;
}
.pageStyle > .text-nowrap > ul{
    margin-top:5px !important;
}
.pageStyle > .text-nowrap > ul > li > a{
    border-radius: 3px;
    margin: 0px 3px;
    padding: 2px 8px;
    background-color: #F0F2F4;
}
.pageStyle > .text-nowrap > ul > .active > a{
    padding: 3px 8px;
    margin: 0px 3px;
    border-radius: 5px;
}
.pageStyle > .text-nowrap > ul > .prev > a{
    border-radius: 3px;
    margin: 0px 3px;
    padding: 2px 8px;
    background-color: #F0F2F4;
}
.pageStyle > .text-nowrap > ul > .next > a{
    border-radius: 3px;
    margin: 0px 3px;
    padding: 2px 8px;
    background-color: #F0F2F4;
}
.pageStyle > .text-nowrap > ul > li > a:hover{
    background-color: #E1E4E8;
}
.changeManager{
    margin: 10px 0px 10px 5px;
}
@media screen and (min-width: 395px) and (max-width: 406px) {
    .filtersField {
        display: flex;
        align-items: end;
    }
}
@media only screen and (max-width: 394px) {
    .filtersField {
        display:flex;
        flex-direction:column;
        justify-content:end;
    }
}